@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@500&display=swap");
@import "react-datepicker/dist/react-datepicker.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: "GeistMono";
  src: url("/fonts/GeistMonoVF.woff") format("woff");
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.font-mono-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "width" 100;
}

.font-serif-semibold {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "width" 100;
}
.font-serif-medium {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "width" 100;
}
.font-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "width" 100;
}

.font-serif-thin {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "width" 100;
}
.coming-soon-bg {
  background-size: 130%;
}
@font-face {
  font-family: "custom-font";
  src: url("/fonts/Biro_Script_reduced.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.custom-font {
  font-family: "custom-font", serif !important;
}
@media only screen and (max-width: 700px) {
  .coming-soon-bg {
    background-size: 220%;
  }
}
@media only screen and (max-width: 570px) {
  .coming-soon-bg {
    background-size: 340%;
  }
}
@media only screen and (max-width: 500px) {
  .coming-soon-bg {
    background-size: 380%;
  }
}
@media only screen and (max-width: 450px) {
  .coming-soon-bg {
    background-size: 420%;
  }
}
@media only screen and (max-width: 400px) {
  .coming-soon-bg {
    background-size: 500%;
  }
}

/* @media only screen and (max-width: 300px) {
  .coming-soon-bg {
    background-size: 510%;
  }
} */
@media only screen and (max-width: 350px) {
  .coming-soon-bg {
    background-size: 580%;
  }
}

@media only screen and (max-width: 300px) {
  .coming-soon-bg {
    background-size: 600%;
  }
}
@media only screen and (max-width: 280px) {
  .coming-soon-bg {
    background-size: 730%;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.react-datepicker__header,
.react-datepicker__month,
.react-datepicker__month-container,
.react-datepicker__day,
.react-datepicker__day--010,
.react-datepicker__current-month,
.selected_day,
.react-datepicker__day-name {
  background-color: #37292b !important;
  color: white !important;
  font-family: "Noto Serif", serif !important;
  font-optical-sizing: auto !important;
  font-weight: 300 !important;
  font-style: normal;
  font-variation-settings: "width" 100 !important;
}
.react-datepicker__current-month {
  font-style: italic !important;
}
